template(name='comments')
    .ui.fluid.icon.input
        i.chat.icon
        input.add_comment(type='text' placeholder='comment')
    .ui.comments
        each doc_comments
            .comment
                .content
                    .header #{body}
                    .meta #{when}
                    +voting


template(name='user_info')
    |#{user.username}
    
    
template(name='role_editor')
    each roles
        .ui.button #{this}
        
template(name='author_info')
    .ui.header #{author.username}
    
template(name='creation_info')
    .ui.header #{when}
    
    


            