template(name='view_button')
    a.ui.icon.button.view(title='view' href="/view/#{_id}")
        i.play.icon
        
template(name='remove_button')
    a.ui.icon.button.remove(title='remove')
        i.remove.icon
        
template(name='add_button')
    a.ui.icon.button.add(title='add')
        i.plus.icon
        |#{type}
        

        
template(name='edit_button')
    a.ui.icon.button.edit(title='edit' href="/edit/#{_id}")
        i.pencil.icon

template(name='save_button')
    a.ui.icon.fluid.button.save(title='save' href="/view/#{_id}")
        i.checkmark.icon
        
        
        
template(name='toggle_button')
    .ui.icon.toggle.button(title=label)
        i.icon(class=icon)
    each selected
        |#{username}
        
        



template(name='view_user_button')
    .ui.icon.view_user.button.view(title="view #{username}")
        i.play.icon
        
        
template(name='add_type_button')
    .ui.icon.button.add(title="add #{type}")
        i.plus.icon
        |#{type}
        

template(name='bookmark_button')
    .ui.icon.bookmark.button(title='bookmark')
        i.bookmark.outline.icon
    each bookmarkers
        |#{username}
        

template(name='clone_button')
    .ui.icon.button(title='clone')
        i.fork.icon


template(name='detect_fields_button')
    .ui.button.detect_fields(title='detect fields')
        i.dna.icon
        |detect fields 
        
        
template(name='voting')
    if points
        strong #{points} points
    div
    .ui.large.icon.button.upvote
        i.thumbs.up.icon(class=upvote_class)
    each upvoter_ids
        +user_info
    div
    .ui.large.icon.button.downvote
        i.thumbs.down.icon(class=downvote_class)
    each downvoter_ids
        +user_info
    div
        
