head
    title CIO/CTO
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#262626")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet")
    link(rel="manifest" href="/manifest.json")
    meta(name="mobile-web-app-capable" content="yes")

    meta(name="msapplication-navbutton-color" content="black")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")


template(name='layout')
    .layout(class=invert_class)
        +nav
        +yield

template(name='delta')
    .ui.icon.small.input
        i.search.icon
        input#search(type='text' autocomplete='off' placeholder='search tags')
    if selected_tags
        #clear_tags.ui.grey.icon.button
            i.remove.icon
    each selected_tags
        .unselect_tag.ui.grey.button
            b #{this}
    each global_tags
        .select_tag.ui.button
            |#{this.name}
            // small #{this.count}
    if single_doc
        each docs
            +view

    // if dev
    //     .ui.center.aligned.basic.segment
    //         .ui.icon.input
    //             i.youtube.icon
    //             input.new_ytid(type='text' placeholder='yt id')
    //         .ui.input
    //             input.new_body(type='text' placeholder='body')
    //         .ui.icon.input
    //             i.tag.icon
    //             input.new_tags(type='text' placeholder='title')
    //         .ui.button.insert insert
    // else
    //     .ui.basic.center.aligned.segment
    //         form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
    //             input(type='hidden', name='cmd', value='_s-xclick')
    //             input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
    //             // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
    //             img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
    //             button.ui.icon.button(type='submit')
    //                 i.coffee.icon

    
