template(name='edit')
    with doc
        .ui.padded.grid
            .twelve.wide.column
                // each _keys
                //     +field_edit
                each bricks
                    .ui.segment
                        .ui.header #{this}
                
                // .ui.form
                //     .field
                //         label tags
                //         each tags
                //             .ui.large.label 
                //                 i.remove.link.icon.remove_tag
                //                 |#{this}
                //         .ui.icon.input
                //             input.new_tag(type='text' placeholder='add tag')
                //             i.plus.icon
                //     .field
                //         label body
                //         textarea.edit_body(rows='20') #{body}
                // if is_dev
                //     .ui.button.print log
            .four.wide.column
                .ui.header #{type}
                +save_button
                +remove_button
                .ui.segment
                    if is_dev
                        .ui.button.print print
                    each _keys
                        .ui.label #{this}    
                    each bricks
                        .ui.black.label #{this}
                    .content
                        .ui.small.header add brick
                        .ui.button.add_youtube
                            i.youtube.icon
                            |youtube
                        .ui.button.add_date
                            i.calendar.icon
                            |date
                        .ui.button.add_title
                            i.header.icon
                            |title
                        .ui.button.add_user_assignment
                            i.user.icon
                            |user assignment
                        .ui.button.add_tags
                            i.tags.icon
                            |tags
                        .ui.button.add_textblock
                            i.list.icon
                            |text
                        // each bricks
                        //     .ui.button.add_brick
                        //         |#{this}
                
                
                
                
template(name='user_relations')
    .ui.header user relations
    each users
        .ui.item #{username}
                    
template(name='field_edit')
    .ui.segment
        .ui.labeled.input
            .ui.label name: #{key}
            input.change_key(type='text' placeholder='key' value=key)
        .ui.icon.button.remove_field
            i.remove.icon
        div
        +Template.dynamic template=brick_edit
        