template(name='login')
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.center.aligned.column
                h1.ui.header
                    |Log In
                .ui.fluid.icon.input(class=login_class)
                    i.user.icon
                    input.username(type='text' placeholder='username')
                .ui.fluid.icon.input(class=login_class)
                    i.lock.icon
                    input.password(type='password' placeholder='password')
                .ui.fluid.large.button.login(class=enter_class title='login')
                    i.play.icon
                    | #{username}
                        
                a(href='/register') Register
                        
                        
                        
template(name='register')
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.center.aligned.column
                h1.ui.header
                    |Register
                .ui.fluid.icon.input(class=login_class)
                    i.user.icon
                    input.username(type='text' placeholder='username')
                .ui.fluid.icon.input(class=login_class)
                    i.lock.icon
                    input.password(type='password' placeholder='password')
                .ui.fluid.large.button.register(class=enter_class title='register')
                    i.plus.icon
                    |#{username}
                        
                a(href='/login') Login
                        
                        
                        