template(name='enter')
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.center.aligned.column
                if dark_side
                    h1.black_bat.logo.invert_class
                        |abandon hope all ye who enter here
                else 
                    h1.ui.header
                        |welcome to the dao
                if message
                    h4.ui.center.aligned.header #{message}
                .ui.fluid.input(class=login_class)
                    input.username(type='text' placeholder='username')
                .ui.fluid.input(class=login_class)
                    input.password(type='password' placeholder='password')
                .ui.fluid.large.button.enter(class=enter_class)
                    if registering
                        i.plus.icon
                        |#{username}
                    else
                        i.play.icon
                        | #{username}
        .centered.row
            .ten.wide.column
                .ui.fluid.button.new_demo
                    i.user.secret.icon
                    | anon
                