template(name='settings')
    .ui.stackable.padded.three.column.grid
        .column
            .ui.segment
                .ui.header #{currentUser.username}
                +edit_user_field key='status'
                +edit_user_field key='first_name'
                +edit_user_field key='last_name'
            .ui.segment
                .ui.small.header Change Username
                .ui.icon.fluid.input
                    input.new_username(type='text' placeholder='change username')
                    i.play.link.icon.change_username
            .ui.segment
                .ui.small.header Change Password
                .ui.fluid.input
                    input.old_password(type='text' placeholder='old')
                .ui.icon.fluid.input
                    input.new_password(type='text' placeholder='new')
                    i.play.link.icon.change_password
        .column
            .ui.segment
                .ui.button.logout
                    i.sign.out.alternate.icon
                    | Logout
                .ui.button.logout_others
                    i.user.times.icon
                    |Logout Other Clients
        .column
            .ui.segment
                .ui.header 
                    i.mail.icon
                    | Emails
            .ui.segment
                .ui.header 
                    i.user.shield.icon
                    | Roles
                .ui.list
                    each currentUser.roles
                        .item #{this}
            .ui.segment
                .ui.header 
                    i.users.icon
                    | Connections
                .ui.list
                    each currentUser.connections
                        .item #{this}
                    
                    
template(name='edit_user_field')
    .ui.fluid.labeled.input
        .ui.label #{key}
        input.user_field_val(type='text' placeholder='change' value=user_field_val)