template(name='settings')
    .ui.stackable.padded.three.column.grid
        .column
            .ui.tertiary.segment
                .ui.header #{currentUser.username} [#{currentUser.status}]
                +edit_user_field key='status'
                +edit_user_field key='first_name'
                +edit_user_field key='last_name'
                +edit_user_field key='spirit_animal'
            .ui.tertiary.segment
                .ui.small.header change username
                .ui.icon.fluid.input
                    input.new_username(type='text' placeholder='change username')
                    i.play.link.icon.change_username
            .ui.tertiary.segment
                .ui.small.header change password
                .ui.fluid.input
                    input.old_password(type='text' placeholder='old')
                .ui.icon.fluid.input
                    input.new_password(type='text' placeholder='new')
                    i.play.link.icon.change_password
        .column
            .ui.tertiary.segment
                .ui.small.header.logout
                    i.sign.out.alternate.icon
                    |logout
                .ui.small.header.logout_others
                    i.user.times.icon
                    |logout other clients
        .column
            .ui.tertiary.segment
                .ui.header
                    |karma
                |#{currentUser.karma}
                .ui.header
                    |points
                |#{currentUser.points}
            .ui.tertiary.segment
                .ui.header 
                    i.mail.icon
                    |emails
            .ui.tertiary.segment
                .ui.header 
                    i.user.shield.icon
                    | roles
                .ui.list
                    each currentUser.roles
                        .item #{this}
            .ui.tertiary.segment
                .ui.header 
                    i.users.icon
                    | friends
                .ui.list
                    each currentUser.friends
                        .item #{this}
                    
                    
template(name='edit_user_field')
    .ui.fluid.labeled.input
        .ui.label #{key}
        input.user_field_val(type='text' placeholder='change' value=user_field_val)