template(name='nav')
    .ui.attached.borderless.large.menu
        a.image.item(href='/')
            img.ui.small.image(src='http://cioctomastermind.com/wp-content/uploads/2018/12/cioctommttbt-logo-horiz.png')
        a.item(href='/tasks')
            i.tasks.icon
        a.item(href='/events')
            i.calendar.icon
        a.item(href='/chat')
            i.chat.icon
        a.item(href='/shop')
            i.cart.icon
        .right.menu
            if currentUser
                a.item.add(href='#')
                    i.link.plus.icon
                a.item.add(href='/mail')
                    i.link.mail.icon
                a.item(href='/inbox')
                    i.link.bell.icon
                a.item(href='/settings')
                    i.link.cog.icon
                a.item(href='/users')
                    i.users.icon
                a.item(href="/u/#{currentUser.username}")
                    i.user.icon
                    | #{currentUser.username} [#{currentUser.status}]
                a.item.logout(href='#')
                    i.sign.out.alternate.icon
            else
                a.icon.item(href="/enter")
                    i.sign.in.alternate.icon


template(name='footer')
    .ui.bottom.fixed.menu
        // .item
        //     i.copyright.outline.icon
        //     .black_bat DAO
        if is_dev
            .item.refresh_stat
                i.link.refresh.icon
        with site_stat
            .item
                |#{doc_count} docs
                |#{user_count} users
        .item
            | stare into the abyss
        // .item
        //     .ui.transparent.large.input
        //         input#quick_add(type='text' placeholder='quick add')
        // .item
        //     form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        //         input(type='hidden', name='cmd', value='_s-xclick')
        //         input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
        //         // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
        //         img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
        //         button.ui.basic.button(type='submit')
        //             | Donate 