template(name='view')
    with result 
        .ui.
        .ui.basic.segment
            if body
                .f8 #{nl2br body}
            if youtube_id
                .ui.embed.youtube(data-source="youtube" data-id=youtube_id class=invert_class)
        +view_button
        // if dev
        //     .ui.input
        //         input.new_list(type='text' placeholder='add list')
        //     .ui.input
        //         input.new_tag(type='text' placeholder='add tag')
        //     each tags
        //         .ui.compact.button.remove_tag 
        //             |#{this}
        //     .ui.input
        //         input.youtube_id(type='text' value=youtube_id placeholder='yt')
        //     .ui.form
        //         .field
        //             label body
        //             textarea.edit_body(rows='2') #{body}

        

template(name='doc_page')  
    with doc
        .ui.padded.stackable.grid
            .row
                .twelve.wide.column
                    each _keys
                        .ui.label #{this}
                        +field_view
                    if body
                        .f8 #{nl2br body}
                    if youtube_id
                        .ui.embed.youtube(data-source="youtube" data-id=youtube_id class=invert_class)
            
                    i.tags.icon
                    each tags
                        .ui.label #{this}
                    .ui.basic.segment.large120 #{body}
                    +comments
        
                .four.wide.column
                    .ui.header #{karma} karma
                    +detect_fields_button
                    strong keys
                    each _keys
                        .ui.label #{this}
                    +author_info
                    +creation_info
                    div
                    +voting
                    +toggle_button key='read_ids' label='read' icon='book'
                    +toggle_button key='bookmark_ids' label='bookmark' icon='bookmark'
                    +edit_button

template(name='field_view')
    .item   
        .content
            .header #{this}
            .description
                +Template.dynamic template=brick_view